#app,
html,
body {
    font-size: 14px;
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1366px;
}
.el-breadcrumb{
    margin-bottom: 15px;
    font-size: 12px;
}
.el-card{
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15)!important;
}
.el-table{
    margin-top: 15px ;
    font-size: 12px;
}
.el-table th {
    display: table-cell !important;
    }
.el-pagination{
    margin-top: 15px;
}
.el-cascader-panel {
    height: 200px;
  }
  .el-scrollbar__wrap {
    overflow-x: hidden;
  }
  .el-cascader{
      width: 100%;
  }  
  .el-steps{
      margin: 15px auto;
  }
  .el-step__title{
      font-size: 13px;
  }
  .ql-editor{
      min-height: 300px;
  }
  h1,h2,h3,h4,h5,select{
      margin: 0;
      padding: 0;
  }
  ::-webkit-input-placeholder { /* WebKit browsers */
    color: #999;
    font-size: 14px;
  }
  